//
//// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
//
//// Variables
//@import "variables";
//
//// Bootstrap
//@import '~bootstrap/scss/bootstrap';
//
//.navbar-laravel {
//  background-color: #fff;
//  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
//}

//Obaju CSS
@import 'obaju_assets/css/animate.min';
@import 'obaju_assets/css/bootstrap';
@import 'obaju_assets/css/custom';
@import 'obaju_assets/css/font-awesome';
@import 'obaju_assets/css/owl.carousel';
@import 'obaju_assets/css/owl.theme';
@import 'obaju_assets/css/owl.transitions';
@import 'obaju_assets/css/style.blue';
@import 'obaju_assets/css/style.default';
@import 'obaju_assets/css/style.green';
@import 'obaju_assets/css/style.mono';
@import 'obaju_assets/css/style.pink';
@import 'obaju_assets/css/style.violet';

//Obaju js
@import 'obaju_assets/js/bootstrap.min.js';
@import 'obaju_assets/js/bootstrap-hover-dropdown.js';
@import 'obaju_assets/js/jquery.cookie.js';
@import 'obaju_assets/js/jquery.flexslider.js';
@import 'obaju_assets/js/jquery-1.11.0.min.js';
@import 'obaju_assets/js/main.js';
@import 'obaju_assets/js/modernizr.js';
@import 'obaju_assets/js/owl.carousel.min.js';
@import 'obaju_assets/js/respond.min.js';
@import 'obaju_assets/js/waypoints.min.js';
